/*============ ESTILOS INTERDI ============*/
body {
    background: white;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}


/*============ DAVID INICIO ============*/



/*============ DAVID FINAL ============*/

/*============ KEVIN INICIO ============*/

/* #region ========= HERO ========= */

.contenedorHero {
    display: flex;
    flex-direction: row;
}
.contenedorInternoHeroIzquierda {
    display: flex;
    flex-direction: column;
}
.contenedorInternoImgDerecha {
    display: flex;
    width: 50%;
}
.contenedorInternoImgDerecha img {
    width: 200px;
}

/* #endregion */




/*============ KEVIN FINAL ============*/